.footer
  .container
    ul
      li.text-muted 本站用到的技术栈：
      li
        a(target="_blank" href="http://nodejs.cn/") NodeJs
      li
        a(target="_blank" href="http://www.expressjs.com.cn/") Express
      li
        a(target="_blank" href="http://www.nodeclass.com/api/mongoose.html") Mongoose
      li
        a(target="_blank" href="http://momentjs.cn/") Moment.js
      li
        a(target="_blank" href="https://github.com/expressjs/body-parser") body-parser
      li
        a(target="_blank" href="https://github.com/expressjs/cookie-session") cookie-session
      li
        a(target="_blank" href="http://www.css88.com/doc/underscore/") underscore
    ul
      li.text-muted 管理员入口
      li
        a(target="_blank" href="/admin/") 一般管理员
      li
        a(target="_blank" href="/root/") 超级管理员