link(href="/public/bootstrap/css/bootstrap.min.css", rel="stylesheet")
link(href="/public/css/style.css", rel="stylesheet")
if role
  link(href="/public/css/#{role}.css", rel="stylesheet")
script(src="/public/jquery/jquery.min.js", type="text/javaScript")
script(src="/public/bootstrap/js/bootstrap.min.js", type="text/javaScript")
script(src="/public/js/public.js", type="text/javaScript")