body {
  margin-top: 50px;
  margin-bottom: 125px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.color-red {
	color: red;
}

.color-green{
	color: green;
}

td{
	vertical-align: middle !important;
}

textarea {
	 text-indent: 2em;
	 max-width: 100%;
	 min-width: 100%;
}

#newsList {
	margin-top: 50px;
}

.newsContent {
	text-indent: 2em;
}

.container #namecontainer{
	height: 30px !important;
	position: relative;
}
#hello {
	display: inline-block;
	height: 100%;	
	cursor: pointer;
}



@keyframes show
{
0% {transform: translateY(-100%); opacity: 0;}
100% {transform: translateY(-60%);	opacity: 1;}
}

@-moz-keyframes show 
{
0% {transform: translateY(-100%); opacity: 0;}
100% {transform: translateY(-60%);	opacity: 1;}
}

@-webkit-keyframes show 
{
0% {transform: translateY(-100%); opacity: 0;}
100% {transform: translateY(-60%);	opacity: 1;}
}

@-o-keyframes show
{
0% {transform: translateY(-100%); opacity: 0;}
100% {transform: translateY(-60%);	opacity: 1;}
}


#hello:hover .updeteme {
	display: inline;
}

.updeteme {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	top: 110%;
	animation: show .5s linear both;
}

.media-object{
	border-radius: 50%;
}



.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 120px;
	margin-top: -50px;
	background-color: #f8f8f8;
	border-top:1px solid #e7e7e7;
}

.footer ul{
	margin-top: 20px;
	list-style-type: none;
	padding: 10px;
}
.footer ul li {
	float: left;
	padding-left: 20px;
}
